<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>Angular directives for Bootstrap</title>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>

        <script src="/js/plugins/uibootstrapangular/ui-bootstrap-tpls-0.11.2.min.js"></script>
        <script src="/js/datafreedom.js"></script>
        <script src="/js/app.js"></script>

    </head>
    <body  ng-app="demo" ng-controller="demoCtrl">
        <div>
            <form name="serach-form" novalidate >
                <input type="text" name="name" ng-model="search.name" />
                <input type="submit" ng-click="search(search)" value="Search"/>
            </form>
        </div><br>
        <table style="width: 100%;" border="1">
            <tr>
                <th>id <a href="">Sort</a></th>
                <th>Name <a href="">Sort</a></th>
                <th>Email <a href="">Sort</a></th>
                <th>City <a href="">Sort</a></th>
            </tr>
            <tr ng-repeat="row in data">
                <td>{{ row.id}}</td>
                <td>{{ row.name}}</td>
                <td>{{ row.email}}</td>
                <td>{{ row.city}}</td>
            </tr>
        </table>
    <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" ng-change="pageChanged()"></pagination>
    <pre>Page: {{bigCurrentPage}} / {{numPages}}</pre>
</body>
</html>
